// Colors

// PRIMARY
$primary-color: #f29422;

$primary-color-50: #fef8ec;
$primary-color-100: #fce9c9;
$primary-color-200: #f9d18e;
$primary-color-300: #f5b354;
$primary-color-400: $primary-color;
$primary-color-500: #ec7714;
$primary-color-600: #d1540e;
$primary-color-700: #ad3910;
$primary-color-800: #8d2c13;
$primary-color-900: #742513;
$primary-color-950: #421106;
$primary-color-transparent: #d5cdc0a2;

// SECONDARY
$secondary-color: #f2506e;

$secondary-color-50: #fff1f2;
$secondary-color-100: #ffe4e6;
$secondary-color-200: #fdced5;
$secondary-color-300: #fca5b1;
$secondary-color-400: #f97389;
$secondary-color-500: $secondary-color;
$secondary-color-600: #de204d;
$secondary-color-700: #bb153f;
$secondary-color-800: #9d143c;
$secondary-color-900: #86153a;
$secondary-color-950: #4b061b;
$secondary-color-transparent: #4b061ba2;

// LIGHT
$light-color: #ffffff;

$light-color-50: $light-color;
$light-color-100: #efefef;
$light-color-200: #dcdcdc;
$light-color-300: #bdbdbd;
$light-color-400: #989898;
$light-color-500: #7c7c7c;
$light-color-600: #656565;
$light-color-700: #525252;
$light-color-800: #464646;
$light-color-900: #3d3d3d;
$light-color-950: #292929;
$light-color-transparent: #292929a2;

// DARK
$dark-color: #342c2a;

$dark-color-50: #f4f4f2;
$dark-color-100: #e4e2dd;
$dark-color-200: #cbc7bd;
$dark-color-300: #aea496;
$dark-color-400: #968979;
$dark-color-500: #87796b;
$dark-color-600: #74655a;
$dark-color-700: #5e514a;
$dark-color-800: #514742;
$dark-color-900: #483e3b;
$dark-color-950: $dark-color;
$dark-color-transparent: #342c2ada;
$dark-color-transparent-low: #342c2a36;

// CONTRAST
$contrast-color: #f2e0d0;

$contrast-color-50: #fbf6f1;
$contrast-color-100: $contrast-color;
$contrast-color-200: #ecd1bc;
$contrast-color-300: #dfb192;
$contrast-color-400: #d28b65;
$contrast-color-500: #c86f47;
$contrast-color-600: #ba5a3c;
$contrast-color-700: #9b4733;
$contrast-color-800: #7d3b2f;
$contrast-color-900: #653229;
$contrast-color-950: #361814;
$contrast-color-transparent: #361814a2;

// SUCCESS
$success-color: #00a86b;

$success-color-50: #ebfef4;
$success-color-100: #d0fbe3;
$success-color-200: #a4f6cc;
$success-color-300: #6aebb1;
$success-color-400: #2fd891;
$success-color-500: #0abf79;
$success-color-600: #00a86b; // success
$success-color-700: #007c52;
$success-color-800: #036242;
$success-color-900: #045038;
$success-color-950: #012d21;
$success-color-transparent: #012d21a2;

// WARNING
$warning-color: #fcb900;

$warning-color-50: #fffeea;
$warning-color-100: #fffac5;
$warning-color-200: #fff685;
$warning-color-300: #ffeb46;
$warning-color-400: #ffdb1b;
$warning-color-500: #fcb900; // warning
$warning-color-600: #e29000;
$warning-color-700: #bb6602;
$warning-color-800: #984e08;
$warning-color-900: #7c400b;
$warning-color-950: #482100;
$warning-color-transparent: #482100a2;

// DANGER
$danger-color: #ff4d4f;

$danger-color-50: #fff1f1;
$danger-color-100: #ffdfdf;
$danger-color-200: #ffc5c6;
$danger-color-300: #ff9d9e;
$danger-color-400: #ff6466;
$danger-color-500: #ff4d4f; // danger
$danger-color-600: #ed1517;
$danger-color-700: #c80d0f;
$danger-color-800: #a50f11;
$danger-color-900: #881415;
$danger-color-950: #4b0405;
$danger-color-transparent: #4b0405a2;

// ---------- Boxshadow -----------

$box-shadow: 0 rem(4px) rem(30px) $dark-color-transparent;
$box-shadow-hover: 0 rem(6px) rem(20px) $dark-color-transparent-low;

/* Circular Gradients in function of variables */

// PRIMARY
$primary-gradient: radial-gradient(circle, $primary-color-50, $primary-color-300);
$primary-gradient-dark: radial-gradient(circle, $primary-color-400, $primary-color-900);
$primary-gradient-light: radial-gradient(circle, $primary-color-100, $primary-color);

// SECONDARY
$secondary-gradient: radial-gradient(circle, $secondary-color-50, $secondary-color-300);
$secondary-gradient-dark: radial-gradient(circle, $secondary-color-400, $secondary-color-900);
$secondary-gradient-light: radial-gradient(circle, $secondary-color-100, $secondary-color);

// LIGHT
$light-gradient: radial-gradient(circle, $light-color-50, $light-color-300);
$light-gradient-dark: radial-gradient(circle, $light-color-400, $light-color-900);
$light-gradient-light: radial-gradient(circle, $light-color-100, $light-color);

// DARK
$dark-gradient: radial-gradient(circle, $dark-color-50, $dark-color-300);
$dark-gradient-dark: radial-gradient(circle, $dark-color-800, $dark-color-950);
$dark-gradient-light: radial-gradient(circle, $dark-color-100, $dark-color);

// CONTRAST
$contrast-gradient: radial-gradient(circle, $contrast-color-50, $contrast-color-300);
$contrast-gradient-dark: radial-gradient(circle, $contrast-color-400, $contrast-color-900);
$contrast-gradient-light: radial-gradient(circle, $contrast-color-100, $contrast-color);

// ---------- Hover Circular Gradients -----------

// PRIMARY
$primary-gradient-hover: radial-gradient(circle, $primary-color-200, $primary-color-300);
$primary-gradient-dark-hover: radial-gradient(circle, $primary-color-400, $primary-color-700);
$primary-gradient-light-hover: radial-gradient(circle, $primary-color-100, $primary-color);

// SECONDARY
$secondary-gradient-hover: radial-gradient(circle, $secondary-color-600, $secondary-color-300);
$secondary-gradient-dark-hover: radial-gradient(circle, $secondary-color-400, $secondary-color-700);
$secondary-gradient-light-hover: radial-gradient(circle, $secondary-color-100, $secondary-color);

// LIGHT
$light-gradient-hover: radial-gradient(circle, $light-color-100, $light-color-200);
$light-gradient-dark-hover: radial-gradient(circle, $light-color-400, $light-color-700);
$light-gradient-light-hover: radial-gradient(circle, $light-color-50, $light-color-100);

// DARK
$dark-gradient-hover: radial-gradient(circle, $dark-color-200, $dark-color-300);
$dark-gradient-dark-hover: radial-gradient(circle, $dark-color-400, $dark-color-700);
$dark-gradient-light-hover: radial-gradient(circle, $dark-color-100, $dark-color);

// CONTRAST
$contrast-gradient-hover: radial-gradient(circle, $contrast-color-200, $contrast-color-300);
$contrast-gradient-dark-hover: radial-gradient(circle, $contrast-color-400, $contrast-color-700);
$contrast-gradient-light-hover: radial-gradient(circle, $contrast-color-100, $contrast-color);